[Desktop Entry]
Type=Application
Name=Timetable Generator
Name[ru]=Генератор расписаний
Name[af]=Tydtabel genereerder
Name[sq]=Gjenerues i Tabelës Kohore
Name[ast]=Xenerador de tables d'horariu
Name[be]=Генэратар раскладаў
Name[bn]=সময়সূচী উদ্ভাবক
Name[bs]=Generator rasporeda časova
Name[pt_BR]=Gerador de grade de horários
Name[ca]=Generador d'horaris
Name[ca@valencia]=Generador d'horaris
Name[zh_HK]=時間表製作程式
Name[zh_TW]=時間表製作程式
Name[crh]=Üreteç Tarifesi
Name[zh_CN]=时间表生成器
Name[cs]=Tvorba rozvrhů
Name[da]=Tidsskema-generator
Name[nl]=Tijdtabelgenerator
Name[et]=Ajakava generaator
Name[fi]=Lukujärjestysten luoja
Name[fr]=Générateur d'emploi du temps
Name[gl]=Xerador de horarios
Name[de]=Stundenplanerstellung
Name[hu]=Órarend-generátor
Name[it]=Generatore di tabelle degli orari
Name[ja]=時間割作成ソフトウェア
Name[ky]=Жадыбал генератору
Name[lt]=Tvarkaraščių generatorius
Name[ms]=Penjana Jadual Waktu
Name[nb]=Timeplan-generator
Name[oc]=Generador d'emplec del temps
Name[fa]=ایجاد کننده برنامه
Name[pl]=Generator planu zajęć
Name[pt]=Criador de horários
Name[ro]=Generator de orar
Name[sk]=Tvorba rozvrhov
Name[sl]=Ustvarjalnik urnikov
Name[sv]=Schemagenerator
Name[es]=Generador de tablas de horario
Name[tr]=Üreteç Tarifesi
Name[uk]=Генератор розкладів
Name[vi]=Trình tạo thời gian biểu
GenericName=Timetable software for schools
GenericName[de]=Stundenplan Generator
GenericName[ru]=Генератор расписаний для учебных заведений
Comment=Generate timetables for educational institutions
Comment[ru]=Составление расписаний для учебных заведений
Comment[af]=Genereer tydtabelle vir opvoedkundige instellings
Comment[sq]=Gjenero tabela kohore për institucionet edukuese
Comment[ast]=Xenera tables d'horarios pa instituciones educative
Comment[be]=Стварэньне раскладаў для адукацыйных устаноў
Comment[bn]=শিক্ষা প্রতিষ্ঠানের জন্য সময়তালিকা নির্মাণ করুন
Comment[bs]=Generišite rasporede časova za obrazovne ustanove
Comment[pt_BR]=Gere grade de horários para instituições educacionais
Comment[bg]=Генериране на графици за образователни институции
Comment[ca]=Genereu calendaris per a centres educatius
Comment[ca@valencia]=Genereu calendaris per a centres educatius
Comment[zh_HK]=為教育機構製作時間表
Comment[zh_CN]=为教育机构创建时间表
Comment[zh_TW]=為教育機構製作時間表
Comment[crh]=Eğitim kurumları için zaman tablosu oluştur
Comment[cs]=Vytváření rozvrhů pro školní zařízení
Comment[da]=Opret tidsskemaer for uddannelsesinstitutioner
Comment[nl]=Tijdtabellen voor onderwijsinstellingen genereren
Comment[et]=Haridusasutustele ajakavade loomise rakendus
Comment[fi]=Luo lukujärjestyksiä opetuslaitoksille
Comment[fr]=Générer des emplois du temps pour les institutions d'enseignement
Comment[gl]=Xere horarios para centros educativos
Comment[de]=Stundenpläne für Lehreinrichtungen erstellen
Comment[el]=Δημιουργήστε προγράμματα διδακτικών ωρών για εκπαιδευτικά ιδρύματα
Comment[hu]=Órarendek készítése oktatási intézmények számára
Comment[it]=Genera la tabella degli orari per le istituzioni scolastiche
Comment[ja]=教育機関向けに時間割を作成します
Comment[ky]=Билим берүү мекмелери үчүн жадыбал түзүү
Comment[lt]=Generuokite tvarkaraščius mokymo įstaigoms
Comment[ms]=Jana jadual waktu untuk institusi pendidikan
Comment[nb]=Lag timeplaner for læresteder
Comment[oc]=Generar d'emplecs del temps per las institucions d'ensenhament
Comment[fa]=بوجود آوردن برنامه هائی برای موسسات آموزشی
Comment[pl]=Generuje plany zajęć, rozkłady i grafiki dla instytucji edukacyjnych
Comment[pt]=Crie horários para instituições educacionais
Comment[ro]=Generează orar pentru instituțiile de învățământ
Comment[sr]=Генеришите распоред часова за едукативне институције
Comment[sk]=Tvorba rozvrhov pre vzdelávacie inštitúcie
Comment[sl]=Ustvarjajte urnike za izobraževalne ustanove
Comment[sv]=Skapa scheman för läroanstalter
Comment[es]=Genere tablas de horarios para instituciones educativas
Comment[uk]=Створення розкладів для навчальних закладів
Comment[tr]=Eğitim kurumları için zaman tablosu oluştur
Comment[vi]=Tạo thời gian biểu cho các tổ chức giáo dục
Keywords=schedule;planning;school;high-school;university;education;teacher;students;
Icon=fet
Exec=fet
Terminal=false
StartupNotify=true
Categories=Office;Chart;Qt;
